<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Entrar
    </h1>
  </div>
</div>

<% if flash.any? %>
  <div class="alert alert-danger alert-dismissable">
    <% flash.each do |key, value| %>
      <p>
        <i class="fa fa-warning"></i>  <%= value %>
      </p>
    <% end %>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>E-mail</label>
          <%= f.text_field :email, autofocus: true, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>Senha</label>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 text-left">
        <div class="form-group">
          <label>Lembrar</label>
          <%= f.check_box :remember_me %>
        </div>
      </div>
      <div class="col-xs-6 text-right">
        <%= f.submit "Entrar", class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
<% end %>
