<% @products.each do |product| %>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <% product.images.each do |img| %>
          <div class="col-md-3 pull-right">
            <a href="#">
              <%= image_tag(img, class: 'img-responsive') %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-8">
          <h3><%= product.name %></h3>
        </div>
        <% if admin_signed_in? %>
          <div class="col-md-4">
            <%= link_to product, class: 'btn btn-primary m-t-20' do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to product, class: 'btn btn-danger m-t-20' do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </div>
        <% end %>
      </div>

      <p>
        <%= product.attributes %>
      </p>

      <%= link_to product.link, target: '_blank', class: 'btn btn-primary' do %>
        Comprar <i class="fa fa-shopping-cart"></i>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>

<div class="row text-center">
  <div class="col-lg-12">
    <ul class="pagination">
      <li>
        <a href="#">&laquo;</a>
      </li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
